body {
	margin: 0;
	text-align: center;
	background: skyblue;
	color: grey;
}

.square {
	border-radius: 10%;
	margin-bottom: 10px;
	margin-right: 10px;
	color: none;
	height: 125px;
	width: 125px;
	color: white;
	background: white;
	
    border-color: grey;

	cursor: auto;

}

.column {
	float: left;
}

.first {
	color: orange;
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: orange;
	background-image: url('x.png');

	cursor: pointer;
}

.clearfix {
	clear: left;
}
.game-board {
	width: 405px;
    margin: 0 auto;
}




.clicked {
	pointer-events: none;
}

table {
	margin: auto;
}


